$color-brand-primary: black !default;
$color-brand-secondary: yellow !default;

$color-base: #FFF !default;

$color-grey-100: rgb(241, 241, 241) !default;
$color-grey-200: rgb(195, 195, 195) !default;