<app-header></app-header>
<app-toolbar>
  <input type="text" name="search" placeholder="Por ejemplo: Sky Walker..." />
</app-toolbar>
<div class="main-wrapper">
  <div class="filter-list">
    <app-panel>
      <header>Sky Walker</header>
      <content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ab dignissimos atque voluptatem, commodi
          quo nostrum necessitatibus quidem, optio eveniet aliquid! Suscipit cum voluptas at quis pariatur. Sequi,
          explicabo ratione!</p>
      </content>
    </app-panel>
  </div>
</div>
<app-footer></app-footer>